/*		Luke's Portfolio Style Sheet. Used in conjuction with luke.kaal.im	*/

/*			Fonts's			*/

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url("fonts/RobotoCondensed-Light.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url("fonts/RobotoCondensed-Regular.ttf") format('truetype');
}


/*			Id's			*/

#background_canvas
{
	
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index: -1;
	
}


#pastWorkButton
{
	background-color:#5EB6A3;
}

#aboutMeButton
{
	background-color:#C95959;
}

#contactButton
{
	background-color:#8FB4EA;
}

/*			Animations			*/

@keyframes mainTitleAnimation
{
    0%
	{
		font-size:80px;
		opacity:0;
		transform: rotateX(90deg);
	}
    10%
	{
		opacity:1;
		transform: rotateX(0deg);
	}
	60%
	{
		font-size: 80px;
	}
	80%
	{
		font-size: 30px;
	}
}

@keyframes subTitleAnimation
{
	0%
	{
		font-size: 50px;
		width:0%;
	}
    10%
	{
		width:0%;
	}
	35%
	{
		width:100%;
	}
	60%
	{
		font-size: 50px;
	}
	80%
	{
		font-size: 20px;
	}
}

@keyframes titleAnimation
{
	0%
	{
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
	}
	60%
	{
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
	}
	80%
	{
		transform: translate(-50%, 0);
		top: 0%;
		left: 50%;
	}
}

@keyframes mainMenuAnimation
{
	0%
	{
		opacity:0;
		visibility:hidden;
	}
	90%
	{
		transform: translate(-50%,10%);
		opacity:0;
		width:0%;
		visibility:hidden;
	}
	94%
	{
		width:65%;
		transform: translate(-50%,0%);
	}
	100%
	{
		opacity:1;
		visibility:visible;
	}
	
}

/*			Classes			*/


.title
{
	color:white;
	text-align:center;
	width:auto;
	
	animation-name: titleAnimation;
	animation-duration: 6s;
	animation-timing-function: ease-out;
	
	position: fixed;
	transform: translate(-50%, 0);
	top: 0%;
	left: 50%;
	
	perspective:600px;
}


.title h1
{
	font-size:30px;
	
	
	animation-name: mainTitleAnimation;
	transform-origin: center bottom;
	animation-duration: 6s;
	animation-timing-function: ease-out;
}
.title h2
{
	overflow:hidden;
	text-overflow: clip;
	white-space: nowrap;
	
	
	margin:auto;
	
	width:100%;
	
	animation-name: subTitleAnimation;
	transform-origin: center top;
	animation-duration: 6s;
	animation-timing-function: ease-out;
}

a.email_link
{
	
	color:#FF5E66;
	font-family: 'Open Sans', sans-serif;
	transition: color 0.1s, left 0.5s;
	text-decoration: none;
	position:relative;
	left:0px;
}

a.email_link:hover
{
	
	color:#CE875F;
	transition: color 0.1s, left 0.5s;
	left:10px;
}

.debug
{
	color:yellow;
	z-index:1000;
	text-align:left;
	margin:5px;
}

.debugParent
{
	
	top:0px;
	left:0px;
	position:fixed;
	
}

.switchContainer
{
	cursor: pointer;
	
	width:150px;
	height:40px;
	
	position:fixed;
	
	top:10px;
	right:10px;
	
	
	
	background-color:#5F3356;
	
	opacity:0.75;
	
	border-radius:5px;
	
	box-shadow: inset 0px 0px 5px black;
	
	
	overflow:hidden;
	
	transition: box-shadow 0.1s;
	box-shadow: 0px 0px 0px black;
}

.switchContainer:hover
{
	transition: box-shadow 0.1s;
	box-shadow: 0px 0px 10px black;
}

.slidingSwitch
{
	
	height:100%;
	width:150%;
	
	display:block;
	
	color:black;
	position:relative;
	overflow:hidden;
	white-space: nowrap;
	
	transition: left 0.2s;
	left:0px;
	
	box-shadow: inset 0px 0px 5px black;
}


.switchComponent
{
	width:32%;
	height:100%;
	
	display:inline-block;
	
	position:relative;
}

.switchIcon
{
	width:auto;
	height:100%;
}

.switchIcon.left
{
	width:auto;
	height:100%;
	left:0px;
	position:absolute;
}

.switchIcon.right
{
	width:auto;
	height:100%;
	right:0px;
	position:absolute;
}

.switchCenter
{
	border-radius:5px;
	background-color:white;
	
	box-shadow: 0px 0px 10px black;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.mainMenu
{
	
	border-radius:5px;
	opacity:1;
	color:white;
	top:25%;
	left:50%;
	transform: translate(-50%,0%);
	position:absolute;
	
	width:65%;
	
	display: block;
	
	bottom:25%;
	
	animation-name: mainMenuAnimation;
	animation-timing-function: ease-out;
	animation-duration: 6s;
	
	overflow:hidden;
	
	white-space:nowrap;
	
	padding:0;
	vertical-align: text-top;
	
	transition: opacity 0.4s , transform 0.4s;
}

.horizontalMenuOptions:hover
{
	
	width:50% !important;
	transition: width 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	
}

.mainmenu:hover .horizontalMenuOptions
{
	width:25%;
}

.horizontalMenuOptions
{
	display: inline-block;
	
	min-width:25%;
	
	position:relative;
	
	margin:0;

	height:100%;
	width:34%;
	border-width:0px;
	transition: width 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	
	cursor: pointer;
}

.menuOptionInfo
{
	position:absolute;
}

.horizontalMenuOptions h3
{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainMenu.disabled
{
	transform: translate(-50%,10%);
	opacity:0;
	transition: opacity 0.4s , transform 0.4s, visibility 0.4s;
	visibility:hidden;
}

.testPage
{
	
	width:100px;
	height:100px;
	display:inline-block;
	
}

.testPage.disabled
{
	opacity:0.1;
}


.pastWork
{
	position:absolute;
	top:200px;
	bottom:200px;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
	opacity:1;
	transition: opacity 0.4s 0.4s, transform 0.4s 0.4s, visible 0.4s 0.4s;
	visibility:visible;
	background-color:white;
	border-radius: 10px;
	overflow:hidden;
}

.pastWork.disabled
{
	opacity:0;
	visibility:hidden;
}

.scrollerContainer
{
	position:absolute;
	width:100%;
	height:100%;
	overflow:visible;
	transition: transform 0.5s;
}

.scrollerContainer.horizontal
{
	white-space: nowrap;
}

.scroll
{
	width:100%;
	height:100%;
	display:inline-block;
	position:relative;
}

.scrollerControls
{
	display:inline-block;
	width:25px;
	height:25px;
	cursor:pointer;
	opacity:0.5;
}
.scrollerControls.disabled
{
	visibility:hidden;
}

.scrollerControls:hover
{
	opacity:1;
}

.pastWorkInformationControls
{
	position:absolute;
	left:50%;
	transform: translateX(-50%);
	height:100%;
}

.pastWorkInformationControls .scrollerControls
{
	position:absolute;
	width:50px;
	height:50px;
	transition: opacity 0.5s;
	margin-bottom:10px;
	margin-top:10px;
	transform: translateX(-50%);
	color: white;
	opacity:1;
}

.pastWorkInformationControls .scrollerControls.disabled
{
	opacity:0s;
}

.pastWorkInformationControls .scrollerControls.bottom
{
	bottom:0px;
}

.fillRoundButton
{
	border-style: solid;
	border-width: 3px;
	overflow: hidden;
	border-radius: 25%;
	box-shadow: 0px 0px 8px black, inset 0px 0px 8px black;
	background-color:rgba(0, 0, 0, 0.2);
}

.filler
{
	transition:transform 0.4s;
	transform:translateY(100%);
	background-color:rgba(255, 255, 255, 0.52);
}

.bottom .filler
{
	transition:transform 0.4s;
	transform:translateY(-100%);
	background-color:rgba(255, 255, 255, 0.52);
}

.fillRoundButton:hover .filler
{
	transform:translateY(0);
}

.fillElement
{
	position:absolute;
	width:100%;
	height:100%;
}

.invertHorizontal
{
	-moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

.invertVertical
{
	-moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
}

.characters
{
	height:50px;
	display:block;
	position:relative;
}

.scroll p, .scroll h3, .scroll ul, .scroll h4
{
	color:white;
	background-color:rgba(0,0,0,0.5);
	width:auto;
	display:table;
	margin:25px;
	padding:5px;
	max-width:40%;
	white-space: normal;
}

.scroll a
{
	color:white;
	font-weight: 500;
	transition: text-shadow 0.3s;
}
.scroll a:hover
{
	text-shadow: 0px 0px 13px rgba(255, 255, 255, 0.8);
}

.scroll ul li
{
	margin-left:25px;
}

.podquest .scroll
{
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
	color:white;
}

.podquest .overview
{
	background-image:url("Screenshots/Squire/podquest.jpg");
}

.podquest .animation
{
	background-image:url("Screenshots/Squire/animation.jpg");
}

.podquest .levels
{
	background-image:url("Screenshots/Squire/jump.jpg");
}

.podquest .level_design
{
	background-image:url("Screenshots/Squire/level.jpg");
}

.podquest .download
{
	background-image:url("Screenshots/Squire/fence.jpg");
}

.aboutMe
{
	
	visibility:visible;
}

.strike
{
	text-decoration: line-through;
}
.italic
{
	font-style: italic;
}

.aboutMe.disabled
{
	
	visibility:hidden;
}

.contact
{
	
	visibility:visible;
}

.contact.disabled
{
	
	visibility:hidden;
}

.buttonImage
{
	position:absolute;
	width:100%;
	height:100%;
	transition:opacity 0.1s;
}

.pageControls
{
	position:absolute;
	right:0px;
	top:0px;
	margin:10px;
	background-color:rgba(255,255,255,0.8);
	height:25;
	padding:10px;
}

.pageControls .closeButton
{
	display:inline-block;
	width:25px;
	height:25px;
	position:relative;
	cursor:pointer;
}

.closeButton:hover .unselected
{
	opacity:0;
}
.closeButton .unselected
{
	opacity:1;
}
.closeButton:hover .selected
{
	opacity:1;
}
.closeButton .selected
{
	opacity:0;
}

.footer
{
	
	position:fixed;
	left: 50%;
	transform: translateX(-50%);
	
	bottom:0px;
	color:white;
	text-align:center;
	font-size:12px;
}

/*		Builtin Tag Types	*/

html
{
	
	padding:0px;
	margin:0px;
	font-family: 'Roboto Condensed', sans-serif;
	overflow:hidden;
	
}

p
{
	color:white;
	font-weight: 100;
}

h1
{
	
	font-size: 30px;
	
}

h2
{
	font-size: 20px;
	word-spacing: 8px;
	letter-spacing: 2px;
	font-weight: 100;
}
h3
{
	font-size: 30px;
	letter-spacing: 2px;
	font-weight: 100;
}

h4
{
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 100;
}